html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  main {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  #background {
    height: 100%;
    width: 100%;
    object-fit: cover; 
    position: absolute;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    top: 0;
    left: 0;
  }